<h1>Contact</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office</h3>
    <p>04023 Formia, Province of Latina, Italy</p>
    <h3>Phone</h3>
    <p><%= number_to_phone "5555555555" %><p>
    <h3>Email</h3>
    <p><a href="mailto:drosetti@example.com?subject=PortfolioContact" "email me">Email me</a></p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3647.93080284294
      4!2d13.593658515797047!3d41.25263267927672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.
      1!3m3!1m2!1s0x133ad2612d14dc57%3A0x1fdfbd731431cf32!2s04023%20Formia%2C%20Province
      %20of%20Latina%2C%20Italy!5e1!3m2!1sen!2sus!4v1586290707646!5m2!1sen!2sus" 
      width="600" height="450" frameborder="0" style="border:0;" 
      allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> 

  </div>
</div>
